#wrapper {

	font-family: verdana;
}

#content {
	margin-top: 20px;
}

body {
	color: #7CB232;
	margin-top: 0px;
	background-color: black;
}

hr {
	border-color: #7CB232;
	margin: 20px 0px 20px 0px;
}

td {
	padding: 10px;
	border: 2px solid white;
	border-color: #7CB232;
}

#currentTime {
	background-color: #00703C;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 30pt;
	margin:0;

}

#progressBarWrapper {
	height: 30px;
	background-color: #111;
	color: white;
	line-height: 30px;
}

#progressBar {
	height: 100%;
	background-color: #7CB232;
	border-radius: 0px 10px 10px 0px;
	white-space: nowrap;
}

.mySectionResult {
	font-size: 8pt;
	display: inline-block;
	border: 2px solid #7CB232;
	padding: 7px;
	margin: 5px;
}

.remove {
	color: orange;
	cursor:pointer;
}

#searchWrapper {

}

#courseSearch {
	visibility: hidden;
}

#subj {
	background-color: inherit;
	color: inherit;
}

#searchResults {
	visibility: hidden;
}

/*Toggle Visibily of Search area button*/
button {
	border-color: #00703C;
	border-style: solid;
	color: inherit;
	background-color: #111;
	border-radius: 15px;
}

#toggleHidden {
	width: 150px;
}
