#wrapper {

	font-family: verdana;
}

#content {
	margin-top: 20px;
}

body {
	color: #7CB232;
	margin-top: 0px;
	background-color: black;
}

hr {
	border-color: #7CB232;
	margin: 20px 0px 20px 0px;
}

td {
	padding: 10px;
	border: 2px solid white;
	border-color: #7CB232;
}

span.title:hover::before {
	display: block;
	background-color: #7CB232;
	color: white;
	position: absolute;
	padding: 5px;
	content: attr(data-tooltip);
	border: 2px solid #181818;
}

#currentTime {
	background-color: #00703C;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 30pt;
	margin:0;

}

#progressBarWrapper {
	height: 30px;
	background-color: #111;
	color: white;
	line-height: 30px;
}

#progressBar {
	height: 100%;
	background-color: #7CB232;
	border-radius: 0px 10px 10px 0px;
	white-space: nowrap;
	text-align: center;
}

#progressText {
	display: block;
	position: relative;
	top: -100%;
	text-align: center;
	font-size: 80%;
}

#currentClass {
	border: 2px solid #7CB232;
	display: inline-block;
	margin: 5px;
	padding: 3px;
}

#nextClass {
	border: 2px solid #7CB232;
	display: inline-block;
	margin: 5px;
	padding: 3px;
}

#mySections{
	overflow: auto;
  white-space: nowrap;
}

.dayOfWeek {
	display: inline-block;
  vertical-align:top;
  white-space:normal;
	padding: 3px;
	margin: 5px;
	border: 1px solid green;
	min-width: 75px;
}

.dowHeader {
	display: block;
	text-align: center;
}

.mySectionResult {
	font-size: 8pt;
	border: 2px solid #7CB232;
	padding: 7px;
	margin: 5px;
	width: 150px;
	float: left;
}

.mySectionResult:hover {
	background-color: #181818;
}

.remove {
	color: orange;
	cursor:pointer;
}

#searchWrapper {

}

#courseSearch {
	visibility: hidden;
}

#subj {
	background-color: inherit;
	color: inherit;
}

#searchResults {
	visibility: hidden;
}

/*Toggle Visibily of Search area button*/
button {
	border-color: #00703C;
	border-style: solid;
	color: inherit;
	background-color: #111;
	border-radius: 15px;
}

#toggleHidden {
	width: 150px;
}
